body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}
.form-container {
    width: 90%;
    max-width: 1200px;
    padding: 20px;
}
.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 20px;
}
.wrapper-block {
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
    background: white;
    padding: 10px;
    border-radius: 5px;
}
.client-details {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}
.client-name {
    grid-column: 1 / 2;
}
.client-last-name {
    grid-column: 2 / 3;
}
.client-phone {
    grid-column: 1 / 3;
}
.client-email {
    grid-column: 1 / 3;
}

/* job details */
.ineer-job-details {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    margin-top: 10px;
}
.job-type-block {
    grid-column: 1 / 2;
}
.job-source-block {
    grid-column: 2 / 3;
}
.job-description-block {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
    border: 1px solid black;
    border-radius: 5px;
    opacity: 0.5;
    padding: 5px;
}
.job-description-block textarea {
    height: 100%;
    width: 100%;
    min-height: 100px;
}

/* Service location ----------------*/

.inner-location {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    margin-top: 10px;
}
.location-adress,
.location-city,
.location-state {
    grid-column: 1 / 3;
}

/* Scheduled ----------------------- */
.inner-scheduled {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    margin-top: 10px;
}
.scheduled-date,
.scheduled-test {
    grid-column: 1 / 3;
}


label {
    display: block;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.sibmit {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
}
.sibmit:hover {
    cursor: pointer;
    background-color: gray;
}
.sibmit:active {
    background-color: white;
}